<div class="flexrow">
    <div class="stage">
        <div class="row console">
            <div class="console-outer">
                <i class="row-icon fa-solid fa-caret-right"></i>
                <div id="col1" class="wheel"><div class="container">
                        <ul class="ring">
                            {{#each results as |item|}}
                            <li data-document-id="{{data}}" class="item">
                                <img src="{{item.icon}}" alt>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <i class="row-icon fa-solid fa-caret-left"></i>
            </div>
        </div>
        <button class="slot-btn" data-action="rollSingle" {{disabled (lt
            actorMoney tableCost)}}>ROLL!</button>
    </div>
    <div class="slot-container">
        <div class="input-fields">
            <div class="form-group">
                <label for>Actor Money</label>
                <input class="input-slotmachine actorMoney" type="number"
                    disabled value="{{actorMoney}}">
            </div>
            <div class="form-group">
                <label for>Cost Slot</label>
                <input class="input-slotmachine" type="number" disabled
                    value="{{tableCost}}">
            </div>

        </div>
        <div class="award-fields flexcol">
            <div class="img-portrait">
                <img class="reward-item item-img" src="{{awardItem.img}}" alt>
            </div>
            {{#if awardItem}}
            <div class="anchor-item">
                {{{actorAnchor}}}
                <span>
                    recieve:
                </span>
                {{{awardItem.anchor}}}
            </div>
            {{/if}}
        </div>
    </div>
</div>
